.App {
  background-color: rgb(68, 65, 92);
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;


}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input,
textarea {
  margin-bottom: 10px;
  padding: 10px;
}

button {
  padding: 10px;
  margin-right: 5px;
  background-color: rgb(30, 179, 38);
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #09b111;
}